{% extends 'base.html' %}
{% block title %}
Edit Blog
{% endblock title %}

{% block body %}
<h1>Edit blog.</h1>
<form action="{{ url_for('blog.edit_blog') }}" method="post">
    <input type="text" name="title" id="title" placeholder="Article Title" required value="{{ title }}">
    <br><br>
    <input type="date" name="publish_date" id="publish_date" placeholder="publish_date" required value="{{ pub_date }}">
    <br><br>
    <textarea name="content" id="content" cols="100" rows="30" placeholder="Enter content">{{ content }}</textarea>
    <br>
    <input type="submit" value="Update">
</form>
{% endblock body%}